<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>new page</h1>
        <img src="{{url_for('static',filename='images/IMG-20210802-WA0001.jpg')}}" alt=""height="150px" width="150px" srcset="">
        <h1><a href="{{url_for('static_files')}}">go to my pic</a></h1>
    </center>
</body>
</html>